
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
header, footer{
    width: 100%;
    margin: 0px;
}
body{
    background-color: black;
    /*padding: 50px;*/
}

h3{
    text-decoration: underline;
}

.logogranja{
    position: static;
}

.menunavegador{
    /* GRADIENTES */
    background-image: linear-gradient(to left, rgb(60, 60, 60), rgb(42, 42, 42));
    border-radius: 10px;

}

.menunavegador ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menunavegador ul li{
    display: inline-block;
}

.menunavegador ul li a{
    color: white;
    display: block;
    padding: 20px 50px;
    text-decoration: none;
}

.menunavegador ul li a:hover{
    background-color: #2C394B;
}

.tituloprincipal{
    color: white;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    
}

.main, .sidebar{
    width: 90%;
    margin: 20px auto;
    max-width: 1300px;
}

.homep1, .homep2{
    margin: 20px;
    border-radius: 10px;
}

.noticias{
    width: 80%;
    margin-right: 1.5%;
    float: left;
}
.nosotros {
    padding: 20px;
    background-color: antiquewhite;
    margin-bottom: 20px;
    border-radius: 10px;
}

.main .noticias p{
    padding: 20px;
    background-color: antiquewhite;
    margin-bottom: 20px;
}

.sidebar{
    width: 15%;
    background-color: white;
    float: right;
    padding: 20px;
    margin-right: 90px;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 10px;
}

.iframegranja{
    width: 46.5%;
    background-color: #2C394B;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.abajo{
    color: white;
    text-align: right;
    display: block;
}

    /*CONTENEDOR PADRE*/
/*
.flex-container{
    background-color: aqua;
    width: 1000px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    flex-direction: row;
    */

.titulodepagina {
    color: aliceblue;
    display: flex;
    margin: auto;
    width: 300px;
    text-shadow: 5px 5px 5px #2C394B;
}

.flex-container{
    background-color: burlywood;
    width: 1200px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    flex-direction: row;
    border-radius: 10px;
}
    /*CONTENEDORES HIJO */

.flex-item1{
    margin: auto;
    width: 600px;
    height: 280px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 40px;
}


.flex-item2{
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: bisque;
}

.flex-item3{
    margin: auto;
}
.flex-container p{
    text-align: center;
    flex-wrap: nowrap;
}

.nuestraemptxt{
    margin-bottom: 20px;
}

/* Iframe google maps*/

.maps{
    margin: auto;
    width: 400px;
    height: 200px;
}

.tablaprecios{
    display: block;
    justify-content: center;
}

.nosotros-tabla {
    padding: 50px;
    background-color: antiquewhite;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 242px;
    position: relative;
    left: 470px;
    border-radius: 10px;
}

/* FOOTER */
footer{
    background-color: #151515;
    color: white;
    display: flex;
    clear: both;
    padding: 20px 20px;
    justify-content: space-around;
    border-radius: 10px;
}

.derechosres {
    display: flex;
    position: relative;
    
}

/*Footer imagenes redes*/
.imgredes{
    margin: 10px;
    width: 50px;
}

.contenedor{
    display: grid;
    padding: 0 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.img1{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}

.img2{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
}

.img3{
    grid-column: 3;
    grid-row: 1;
    width: 100%;
}

.img4{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
}

.img5{
    grid-column: 2;
    grid-row: 2;
    width: 100%;
}

.img6{
    grid-column: 3;
    grid-row: 2;
    width: 100%;
}

.img7{
    grid-column: 1;
    grid-row: 3;
    width: 100%;
}

.img8{
    grid-column: 2;
    grid-row: 3;
    width: 100%;
}

.img9{
    grid-column: 3;
    grid-row: 3;
    width: 100%;
}


/* @media(width<= 600px) */

@media screen and (max-width: 600px) {

    .contenedor{
        display: grid;
        padding: 0 80px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .img1{
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    .img2{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }

    .img3{
        grid-column: 1;
        grid-row: 3;
        width: 100%;
    }

    .img4{
        grid-column: 1;
        grid-row: 4;
        width: 100%;
    }

    .img5{
        grid-column: 1;
        grid-row: 5;
        width: 100%;
    }

    .img6{
        grid-column: 1;
        grid-row: 6;
        width: 100%;
    }

    .img7{
        grid-column: 1;
        grid-row: 7;
        width: 100%;
    }

    .img8{
        grid-column: 1;
        grid-row: 8;
        width: 100%;
    }

    .img9{
        grid-column: 1;
        grid-row: 9;
        width: 100%;
    }

    .sidebar{
        display: none;
    }
}

@media (min-width:601px) and (max-width:900px) {

    .contenedor{
        display: grid;
        padding: 0 80px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .img1{
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    .img2{
        grid-column: 2;
        grid-row: 1;
        width: 100%;
    }

    .img3{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }

    .img4{
        grid-column: 2;
        grid-row: 2;
        width: 100%;
    }

    .img5{
        grid-column: 1;
        grid-row: 3;
        width: 100%;
    }

    .img6{
        grid-column: 2;
        grid-row: 3;
        width: 100%;
    }

    .img7{
        grid-column: 1;
        grid-row: 4;
        width: 100%;
    }

    .img8{
        grid-column: 2;
        grid-row: 4;
        width: 100%;
    }

    .img9{
        grid-column: 1 / 2;
        grid-row: 5;
        width: 100%;   
    }

    .sidebar{
        display: none;
    }
}
/*
.wimg {
    height: 70vh;
}
*/

#carouselExampleIndicators{
    height: 70vh;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.wimg {
    width: 50%;
    height: 70vh;
    }

